* {
  box-sizing: border-box;
}

.centerText {
  text-align: center;
}

#headerText {
  font-size: 2.5em;
  text-align: center;
  color: white;
}

.outerBorder {
  border-style: solid;
  border-color: #7c7d7f;
}
